<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bookmark Manager</h1>
    <div class="">
      Your Bookmarks:
        <ul>
          <% @bookmarks.each do |bookmark| %>
            <li>
              <a href=<%= bookmark.url %>> <%= bookmark.title %> </a>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="">
      <form class="" action="/bookmarks" method="post">
        <label for="">
          Add title:
          <input type="text" name="title">
          Add bookmark url:
          <input type="text" name="url">
        </label>
          <input type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
