<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bookmark Manager</h1>
  Your Bookmarks:
  <ul>
    <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
    <% end %>
  </ul>
  </body>
</html>
